.dashboard-grid {
  display: grid;
  /* 12 колонок */
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--content-padding);


  grid-template-areas:
      "main     main     main     main     main     main     main     main     sidebar  sidebar  sidebar  sidebar"
      "main     main     main     main     main     main     main     main     sidebar  sidebar  sidebar  sidebar"
      "stat1    stat1    stat1    stat1    stat2    stat2    stat2    stat2    stat3    stat3    stat3    stat3"
      ;
  }

.grid-main-chart { grid-area: main; }
.grid-stat-1  { grid-area: stat1; max-height: 40px; padding: 97px;}
.grid-stat-2  { grid-area: stat2; max-height: 40px; padding: 97px;}
.grid-stat-3  { grid-area: stat3; max-height: 40px; padding: 97px;}

.grid-sidebar { grid-area: sidebar; }

/* --- AI Button --- */
.ai-button {
  align-items: center;
  appearance: none;
  background-color: #72c6ff;
  /* background-image: linear-gradient(1deg, #207cd8, #04d8b5cb 70%);
  background-size: calc(100% + 20px) calc(100% + 20px); */
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  justify-content: center;
  line-height: 1.5;
  padding: 6px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s, background-position .2s, transform 0.2s ease, box-shadow 0.2s ease;  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  touch-action: manipulation;
}

.ai-button:hover {
  /* background-position: -20px -20px;  */
  transform: translateY(-2px);
  transition: background-color .5s, background-position .2s, transform 1s ease;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
}

.ai-button:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 100px;
}



/* --- Status --- */
.network-status {
  display: flex;
  align-items: center;
  font-weight: 500;
}

/* "лампочка" статусу (зелена, жовта, червона)
.network-status::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
} */

/* Варіації статусу*/
.status-ok::before {
  background-color: #28a745; /* Зелений */
  box-shadow: 0 0 5px #28a745;
}

.status-warning::before {
  background-color: #ffc107; /* Жовтий */
  box-shadow: 0 0 5px #ffc107;
}

.status-danger::before {
  background-color: #dc3545; /* Червоний */
  box-shadow: 0 0 5px #dc3545;}