.widget-container {
  background: var(--glass-bg); 
  border: 1px solid var(--glass-border);
  box-shadow: var(--shadow-main);
  border-radius: var(--border-radius-main);
  
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.3s ease;
}

.widget-container:hover {
  background: var(--glass-tabs-background);
  border-color: var(--color-accent); 
}
