.main-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: var(--navbar-width);
  height: 97vh;
  padding: 20px;
  margin: 10px;
  margin-bottom: 20px;
  /* background-color: var(--background-color-navigation); 
  border: 1px solid var(--border-radius-small); */
  border-radius: 8px;
  position: sticky;
  top: 0;
  z-index: 100;
  
}

.main-nav h2 {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: var(--color-text-primary); 
}

.main-nav ul {
  list-style-type: none;
  padding: 0;
}

.main-nav li {
  margin-bottom: 10px;
}

.main-nav a {
  text-decoration: none;
  color: var(--color-text-primary);
  display: block;
  padding: 13px 13px;
  border-radius: var(--border-radius-small); 
  font-weight: 500; 
}

/* .main-nav a:hover {
  background-color: var(--background-color-hover);
} */

.main-nav a.active {
  background-color: var(--color-accent);
  color: white;
  font-weight: 600;
}

/* Логотип */
.nav-logo {
  margin-bottom: 40px;
  margin-top: 10px;
  background: transparent;
  padding: 0px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-img {
  width: 45px;  
  height: 45px;
  object-fit: contain; 
  filter: invert(0);
}
body.dark .logo-img {
  filter: invert(1);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px; 
  width: 100%;
  align-items: center;
}

/* Стилі для посилання (кнопки) */
.nav-link {
  position: relative; /* для позиціювання тултіпа */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  /* border-radius: 14px; */
  color: var(--color-text-secondary);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

/* Ефект при наведенні */
.nav-link:hover {
  background-color: var(--background-color-hover);
  color: var(--color-accent);
  transform: translateY(-2px); /* Легкий підйом */
}

/* Активний стан (коли ми на цій сторінці) */
.nav-link.active {
  background-color: var(--background-color-hover);
  color: var(--color-accent);
  box-shadow: 0 4px 12px rgba(0, 123, 255, 0.3); /* Тінь кольору акценту */
}

/* --- Тултіп --- */
.nav-tooltip {
  position: absolute;
  left: 65px; /* Зсув вправо від іконки */
  background: var(--background-tooltip); 
  color: rgb(245, 252, 255);
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 0.85rem;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0; /* Сховано за замовчуванням */
  visibility: hidden;
  transform: translateX(-10px); /* Початкова позиція для анімації */
  transform: translateY(-30px);
  transition: all 0.2s ease;
  pointer-events: none; /* Щоб мишка не чіплялася за тултіп */
  z-index: 1000;
}

/* Маленький трикутничок зліва від тултіпа */
.nav-tooltip::before {
  content: '';
  position: absolute;
  left: -4px;
  top: 50%;
  transform: translateY(-70%);
  border-width: 4px 4px 4px 0;
  border-style: solid;
  border-color: transparent #383838 transparent transparent;
}

/* тултіп при наведенні на посилання */
.nav-link:hover .nav-tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(0.2); 
}

/* Контейнер для верхніх і нижніх іконок */
.nav-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}