.widget-container {
  background: var(--glass-bg); 
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px); /* Для Safari */

  border: 1px solid var(--glass-border);
  box-shadow: var(--shadow-main);
  border-radius: var(--border-radius-main);
  
  transition: transform 0.2s ease, box-shadow 0.2s ease, background 0.3s ease;
}

.widget-container:hover {
  background: var(--background-glass-hover);
  border-color: var(--color-accent); /* Легка підсвітка кольором акценту */
}
