:root {
  /* Шрифти */
  --font-primary: Inter, Lato, Arial, sans-serif;
    line-height: 1.6;
    font-weight: 400;
    size: 16px;

  --color-background: #F4F4F4;       /* фон сторінки */
  --color-background-second:#F4F4F4;
  --color-text-primary: #242424;    /* заголовки */
  --color-text-secondary: #1f1f1f; /* для звичайного тексту */
  --color-accent: #006fff;  
  --color-accent-light: #7fb3f6;         /* Акцентний колір (в Navbar) */
  --color-text-table: #1a1b3a;
  --color-text-hover:#424242;
  --border-radius-small-color: #dee0e3;
  --background-color-hover: #e1e1e1;
  --background-color-active: #F4F4F4;
  --background-color-navigation:#ffff;

  /* Розміри */
  --navbar-width: 70px;
  --content-padding: 24px;         
  --border-radius-main: 16px;       /* Основний радіус для віджетів */
  --border-radius-small: 20px;       /* Для кнопок та sidebar */

}

body.dark {
  --color-background: #242424; /* Темний фон */
  --color-background-second:#363636;
  --color-text-primary: #F4F4F4;
  --color-text-secondary: #b7bcc2; /* для звичайного тексту */
  --color-accent: #006fff;  
  --color-accent-light: #7fb3f6;         /* Акцентний колір (в Navbar) */
  --color-text-table: #1a1b3a;
  --color-text-hover:#424242;
  --border-radius-small-color: #dee0e3;
  --background-color-hover: #d8d8db;
  --background-color-active: #242424;
  --background-color-navigation:#000000;

}

/* 2. Глобальне скидання стилів та налаштування */
html {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

*, *:before, *:after {
  box-sizing: inherit; /* Успадкування box-sizing полегшує розмітку */
}

/* 3. Стилі для Body */
body {
  margin: 0;
  font-family: var(--font-primary);
  background-image: linear-gradient(5deg, var(--color-background) 1%, var(--color-background-second)  70%);
  background-repeat: no-repeat; /* Забороняємо повторення градієнту */
  min-height: 100vh; /* Гарантуємо, що градієнт покриє весь екран */  
  color: var(--color-text-secondary);     /* Глобальний колір тексту */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* 4. Базові стилі для типографії */
h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-primary);
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: 400;
}

p {
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
}


::-webkit-scrollbar {
  width: 8px;  
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--background-color-hover); 
  border-radius: 4px;
  
  background-clip: content-box;
  border: 2px solid transparent; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; 
  border: 2px solid transparent;
  background-clip: content-box;
}

* {
  scrollbar-width: thin;          
  scrollbar-color: #d1d5db transparent; 
}