:root {
  /* Шрифти */
  --font-primary: Inter, Lato, Arial, sans-serif;

  /* --- світла тема--- */
  --color-background: #f5f5f5;       /* фон сторінки */
  --color-background-second:#f5f5f5;
  
  /* текст */
  --color-text-primary: #242424;    
  --color-text-secondary: #4a4a4a;
  --color-text-table: #1a1b3a;
  --color-text-hover:#2c2c2c;

  --table-header-bg:rgba(245, 247, 250, 0.7);
  --table-row-hover:#e1e1e1;

  /* акценти */
  --color-accent: #1c70de;  
  --color-accent-light: #7fb3f6;  

  /* Напівпрозорі фони */
  --glass-bg: rgba(255, 255, 255, 0.70); 
  --glass-border: rgb(255, 255, 255);

  --border-radius-small-color: #dee0e3;
  --background-color-hover: #e1e1e1;
  --background-color-active: #F4F4F4;

  --background-color-navigation:#ffff;
  --background-tooltip:#383838;

  /* Розміри */
  --navbar-width: 70px;
  --content-padding: 24px;         
  --border-radius-main: 16px;       
  --border-radius-small: 20px;       
}

body.dark {
  /* --- темна тема--- */
  --color-background: #121212;
  --color-background-second:#343434;

  --color-text-primary: #F4F4F4;
  --color-text-secondary: #b7bcc2; 
  --color-text-table: #e8e8e8;
  --color-text-hover:#b7bcc2;

  /* акценти */
  --color-accent: #006fff;  
  --color-accent-light: #7fb3f6;

  --glass-bg: rgba(255, 255, 255, 0.051); 
  --glass-bg-table: rgba(255, 255, 255, 0.597); 
  --glass-border: rgba(255, 255, 255, 0.725);

  --border-radius-small-color: #dee0e3;
  --background-color-hover: rgba(236, 236, 236, 0.814);;
  --background-color-active: #242424;
  --background-color-navigation:#242424;

}

/* 2. Глобальне скидання */
html {
  box-sizing: border-box;
  font-family: var(--font-primary);
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* 3. Стилі для Body */
body {
  line-height: 1.5;
  font-weight: 400;
  size: 16px;
  margin: 0;
  font-family: var(--font-primary);

  background-image: linear-gradient(135deg, var(--color-background) 1%, var(--color-background-second)  70%);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;

  color: var(--color-text-secondary);    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background-image 0.5s ease, color 0.5s ease;
}

.navbar, 
.sidebar,
.widget,
.card {
  background: var(--glass-bg); /* Напівпрозорий фон */
  
  /* розмиття (Frost effect) */
  backdrop-filter: blur(12px); 
  -webkit-backdrop-filter: blur(12px);
  
  /* Тонка рамка для виділення на фоні */
  border: 1px solid var(--border-glass);
  
  /* Тіні для об'єму */
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
              0 2px 4px -1px rgba(0, 0, 0, 0.06);
              
  border-radius: var(--border-radius-main);
  padding: 20px; /* приклад */
  transition: all 0.3s ease;
}

/* При наведенні менш прозоре */
.widget:hover, .card:hover {
   background: linear-gradient(
    to bottom right, 
    var(--background-glass), 
    rgba(255,255,255, 0.05)
   );
   border-color: var(--color-accent-light);
}

/* 4. Базові стилі для типографії */
h1, h2, h3, h4, h5, h6 {
  color: var(--color-text-primary);
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-weight: 400;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color 0.2s;
}

a:hover {
  color: var(--color-text-hover);
}

::-webkit-scrollbar {
  width: 8px;  
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; 
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 4px;
  
  background-clip: content-box;
  border: 2px solid transparent; 
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent); 
}

* {
  scrollbar-width: thin;          
  scrollbar-color: #d1d5db transparent; 
}