.diagnostics-container {
  text-align: center;
}

.diagnostics-title {
  text-align: left;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px); /* Трохи зсуваємо вниз на початку */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* Повертаємо на місце */
  }
}